body{
font-family:Arial;
text-align:center;
background:#3b1c1c;
color:white;
}

button{
padding:15px;
margin:10px;
font-size:18px;
background:orange;
border:none;
cursor:pointer;
}

img{
margin:20px;
}
